@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Roboto');

  #chart {
    min-width: 650px;
    margin: 20px 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(64, 8, 106);
  }
  
  :root{
    --card-padding:1.8rem;
  }

  *{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

  }

  html{
    font-size: 14px;

  }

  body{
    width: 100vw;
    height: 100vh;
    font-family: poppins,sans-serif;
    font-size: 0.88rem;
    background-color: rgb(194, 185, 223);
    user-select: none;
    overflow-x: hidden;
    color: rgb(19, 14, 14);
  }

  .container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    /* background-color: red; */
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
  }
  a{
    color: rgb(57, 55, 55);
  }

  img{
    display: block;
    width: 100%;
  }
  h1{
    font-size: 1.8rem;
    font-weight: 800;
  }

  h2{
    font-size: 1.4rem;
  }

  h3{
    font-size: 0.87rem;
  }
  h4{
    font-size: 0.8rem;
  }
h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: rgb(100, 93, 93);
}

p{
    color: rgba(11, 10, 24, 0.36);
}

b{
    color: rgb(24, 24, 22);
}

.primary{
    color: blueviolet;
}

.danger{
    color: red;
}

.success{
    color: rgb(93, 231, 93);
}

.warning{
    color: rgba(226, 223, 18, 0.911);
}


aside{
    height: 100vh;
    background-color: rgb(147, 108, 108);
}

aside .top{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 2rem;
    height: 2rem;
}

aside .close{
    display: none;
}

/* /* sidebar */

aside .sidebar{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top:3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: gray;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background-color: rgb(206, 172, 239);
    color: rgb(113, 92, 96);  /*prime*/
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';;
    width: 6px;
    height: 100%;
    background-color: gray;
    margin-left: calc(1rem-3px);
}

aside .sidebar a:hover{
    color: rgb(15, 9, 9);
    cursor: pointer;
}

aside .sidebar a:hover span{
    margin-left: 1rem;
    cursor: pointer;
}

aside .sidebar .message-count{
    background-color: red;
    color: rgb(243, 239, 233);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: 2rem;
}

/* main */
main{
    margin-top: 1.4rem;
}

main .date{
    display: inline-block;
    background-color:rgba(178, 180, 199, 0.863);
    border-radius: 0.4rem;
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type='date']{
    background: transparent;
    color: #363949;
}

main .insights{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}
main .insights > div{
    
    border-radius:2rem;
    background-color: #fff;
    padding:  var(--card-padding); 
   margin-top: 0.5rem;
    box-shadow: 0 2rem 3rem rgba(96, 100, 216, 0.5);
    transition: all 300ms ease;
}

main .insights > div:hover{
    box-shadow: none;
    background-color: #7de4e4;
    color: black;
    cursor: pointer;
    
}

main .insights > div span{
    background-color: coral;
    padding: 0.5rem;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
}

main .insights > div.expenses span{
    background-color: #ff7782;
}

main .insights > div.income span{
    background-color: #41f1b6;
}

main .insights > div.sales span{
    background-color: #7380ec;
}

main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main.insights .progress{
    position: relative;
    width: 92px;
    height: 70px;
    border-radius: 50%;
}

main .insights svg{
    /* background: red; */
    width: 7rem;
    height: 5.7rem;


}

main .insights svg circle{
    fill: none;
    stroke: #7380ec; 
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px,5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle{
    stroke-dashoffset: -20;
    stroke-dasharray: 200;

}

main .insights .expenses svg circle{
    stroke-dashoffset: 20;
    stroke-dasharray: 80;

}
main .insights .income svg circle{
    stroke-dashoffset: 35;
    stroke-dasharray: 100;

}

main .insights .progress .number{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    /* height: 100%; */
    display: flex;
    justify-content:center;
    align-items: center;
}

main .insights small{
    margin-top: 1.6rem;
    display: block;
}

/* Recent Order */

main .recent-order{
    margin-top: 0.2rem;
}

main .recent-order h2{
    margin-bottom: 0.2rem;
}
main .recent-order table{
    background-color: #fff;
    width: 100%;
    border-radius: 2rem;
    padding: 1.8rem;
    text-align: center;
    transition: all 300ms ease;
}

main .recent-order table:hover{
    box-shadow: none;
    background-color: #aceaea;
    font-size: 1rem;
    cursor: pointer;
}

main table tbody td{
    height: 2.8rem;
    border-bottom:  1px solid rgba(10, 19, 102, 0.18);
    color: #677483;
}

main table tbody tr:last-child td{
    border: none;

}

main .recent-order a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: #7380ec;
}

/* right */

.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
    background-color: grey;
}

.right .top button{
    display: none;
}

.right .theme-toggler{
    background-color: rgb(132,139,200,0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

.right .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active{
    background-color: rgba(173, 70, 187, 0.18);
    color: white;
    border-radius: 0.4rem;
}

.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

/* recent update */

.right .recent-updates{
    margin-top: 1rem;
}

.right .recent-updates h2{
    margin-bottom: 0.8rem;
}

.right .recent-updates .update{
    background-color: #fff;
    padding: 1.8rem;
    border-radius: 2rem;
    box-shadow: 0 2rem 3rem rgba(31, 35, 74, 0.18);
    transition: all 300ms ease;
}

.right .recent-updates .update:hover{
    box-shadow: none;
    background-color: #aceaea;
    font-size: 1rem;
    cursor: pointer;
   
}

.right .recent-updates .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* sales analytics */

.right .sales-analytics{
    margin-top: 2rem;
}

.right .sales-analytics h2{
    margin-bottom: 0.8rem;
}

.right .sales-analytics .items{
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem 1.8rem;
    border-radius: 1.2rem;
    box-shadow: 0 2rem 3rem rgba(96, 106, 192, 0.18);
    transition: all 300ms ease;
}

.right .sales-analytics .items:hover{
    box-shadow: none;
    background-color: #aceaea;
    cursor: pointer;
}

.right .sales-analytics .items .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .items .icon{
    padding: 0.6rem;
    color: #fff;
    border-radius: 50%;
    background-color: #7380ec;
    display: flex;
}

.right .sales-analytics .items.offline .icon{
    background-color: red;

}

.right .sales-analytics .items.customers .icon{
    background-color: rgb(37, 231, 76);    
}

.right .sales-analytics .add-product{
    background-color:transparent;
    border:2px dashed #7380ec;
    color: #7380ec;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .sales-analytics .add-product div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .sales-analytics .add-product div h3{
    font-weight: 600;
}

/* media quries */

@media screen and (max-width:1200px) {
   
        /* background-color: #41f1b6;
         */
         .container{
            width: 94%;
            grid-template-columns: 7rem auto 23rem;
         }
        
         aside .logo h2{
            display: none;
         }
         aside .sidebar h3{
            display: none;
         }

         aside .sidebar a{
            width: 5.6rem;
         }

         aside .sidebar a:last-child{
            position: relative;
            margin-top: 1.8rem;
         }

         main .insights{
            grid-template-columns: 1fr;
            gap: 0;
         }

         main .recent-order{

            width: 94%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin: 2rem 0 0 8.8rem;
         }
         main .recent-order table{
            width: 84vw;
         }

         main table thead tr th:last-child,
         main table thead tr th:first-child{
            display: none;
         }
    
         main table tbody tr th:last-child,
         main table tbody tr th:first-child{
            display: none;
         }

}